.deliveryOrTakeout, .deliveryMenu, .finalPage, .deliveryFinal{
  display:none;
}

.jumbotron {
  background-color: 	#E30022;
  margin-top: -100px;
  margin-bottom: -80px;
}

#logo {
  height: 250px;
  width: 500px;
}

body {
  background-color:	#E30022;
  color: white;
}

#add-a-pizza {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}

#complete-order {
  margin-top: 10px;
}

#delivery-btn {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 50px;
}

#delivery-address input {
  color: #E30022
}
#take-out-btn {
  margin-top: 20px;
  background-color: white;
  color: #E30022
}

.buttonCss {
  background-color: white;
  color: #E30022;
}

h2 {
  font-weight: bolder;
}

.col-md-3 {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 446.6px;
}

.spec {
  border-right: 4px solid white;
}

.size {
  border-left: 4px solid white;
}

#pizza-count {
  margin-right: 30px;
  float: right;
}

#pizza-count-output {
  float: right;
  margin-left: 20px;
}

#delivery-address {
  text-align: center;
  border: 2px white solid;
  width: 40%;
  float: left;
}
.deliveryMenu h2 {
  margin-left: 90px;
}

#address {
  margin-right: 29px;
}


.city {
  margin-left: 42px;
}

.state {
  margin-left: 37px;
}

.zipcode{
  margin-left: 20px;
}

.imagetwo {
  opacity: 0.5;
}
